USE [WePayNepal]
GO
/****** Object:  Trigger [TRG_UPDATE_tbl_user_detail]    Script Date: 8/8/2020 2:54:42 AM ******/
DROP TRIGGER [dbo].[TRG_UPDATE_tbl_user_detail]
GO
/****** Object:  Trigger [TRG_INSERT_tbl_user_detail]    Script Date: 8/8/2020 2:54:42 AM ******/
DROP TRIGGER [dbo].[TRG_INSERT_tbl_user_detail]
GO
/****** Object:  Trigger [TRG_DELETE_tbl_user_detail]    Script Date: 8/8/2020 2:54:42 AM ******/
DROP TRIGGER [dbo].[TRG_DELETE_tbl_user_detail]
GO

/****** Object:  Trigger [dbo].[TRG_DELETE_tbl_user_detail]    Script Date: 8/8/2020 2:54:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_DELETE_tbl_user_detail] ON [dbo].[tbl_user_detail]
FOR DELETE
AS
     BEGIN
         INSERT INTO tbl_user_detail_audit
         (user_id, 
          user_name, 
          password, 
          full_name, 
          agent_id, 
          user_email, 
          user_mobile_no, 
          last_login_UTC_date, 
          last_login_local_date, 
          last_password_changed_UTC_date, 
          last_password_changed_local_date, 
          session, 
          forced_password_changed, 
          created_UTC_date, 
          created_local_date, 
          created_nepali_date, 
          created_by, 
          created_ip, 
          created_platform, 
          updated_by, 
          updated_UTC_date, 
          updated_local_date, 
          updated_nepali_date, 
          updated_ip, 
          allow_multiple_login, 
          is_currently_logged_in, 
          device_id, 
          STATUS, 
          usr_type_id, 
          usr_type, 
          is_login_enabled, 
          is_primary, 
          browser_info, 
          access_code, 
          user_qrimage, 
          pay_load, 
          m_pin, 
          role_id, 
          device_token, 
          trigger_log_user, 
          trigger_action, 
          trigger_action_local_Date, 
          trigger_action_UTC_Date, 
          trigger_action_nepali_date
         )
                SELECT user_id, 
                       user_name, 
                       password, 
                       full_name, 
                       agent_id, 
                       user_email, 
                       user_mobile_no, 
                       last_login_UTC_date, 
                       last_login_local_date, 
                       last_password_changed_UTC_date, 
                       last_password_changed_local_date, 
                       session, 
                       forced_password_changed, 
                       created_UTC_date, 
                       created_local_date, 
                       created_nepali_date, 
                       created_by, 
                       created_ip, 
                       created_platform, 
                       updated_by, 
                       updated_UTC_date, 
                       updated_local_date, 
                       updated_nepali_date, 
                       updated_ip, 
                       allow_multiple_login, 
                       is_currently_logged_in, 
                       device_id, 
                       STATUS, 
                       usr_type_id, 
                       usr_type, 
                       is_login_enabled, 
                       is_primary, 
                       browser_info, 
                       access_code, 
                       user_qrimage, 
                       pay_load, 
                       m_pin, 
                       role_id, 
                       device_token, 
                       system_user, 
                       'Deleted', 
                       GETDATE(), 
                       GETUTCDATE(), 
                       dbo.func_get_nepali_date(DEFAULT)
                FROM Deleted;
     END;
GO
/****** Object:  Trigger [dbo].[TRG_INSERT_tbl_user_detail]    Script Date: 8/8/2020 2:54:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_INSERT_tbl_user_detail] ON [dbo].[tbl_user_detail]
FOR INSERT
AS
     BEGIN
         INSERT INTO tbl_user_detail_audit
         (user_id, 
          user_name, 
          password, 
          full_name, 
          agent_id, 
          user_email, 
          user_mobile_no, 
          last_login_UTC_date, 
          last_login_local_date, 
          last_password_changed_UTC_date, 
          last_password_changed_local_date, 
          session, 
          forced_password_changed, 
          created_UTC_date, 
          created_local_date, 
          created_nepali_date, 
          created_by, 
          created_ip, 
          created_platform, 
          updated_by, 
          updated_UTC_date, 
          updated_local_date, 
          updated_nepali_date, 
          updated_ip, 
          allow_multiple_login, 
          is_currently_logged_in, 
          device_id, 
          STATUS, 
          usr_type_id, 
          usr_type, 
          is_login_enabled, 
          is_primary, 
          browser_info, 
          access_code, 
          user_qrimage, 
          pay_load, 
          m_pin, 
          role_id, 
          device_token, 
          trigger_log_user, 
          trigger_action, 
          trigger_action_local_Date, 
          trigger_action_UTC_Date, 
          trigger_action_nepali_date
         )
                SELECT user_id, 
                       user_name, 
                       password, 
                       full_name, 
                       agent_id, 
                       user_email, 
                       user_mobile_no, 
                       last_login_UTC_date, 
                       last_login_local_date, 
                       last_password_changed_UTC_date, 
                       last_password_changed_local_date, 
                       session, 
                       forced_password_changed, 
                       created_UTC_date, 
                       created_local_date, 
                       created_nepali_date, 
                       created_by, 
                       created_ip, 
                       created_platform, 
                       updated_by, 
                       updated_UTC_date, 
                       updated_local_date, 
                       updated_nepali_date, 
                       updated_ip, 
                       allow_multiple_login, 
                       is_currently_logged_in, 
                       device_id, 
                       STATUS, 
                       usr_type_id, 
                       usr_type, 
                       is_login_enabled, 
                       is_primary, 
                       browser_info, 
                       access_code, 
                       user_qrimage, 
                       pay_load, 
                       m_pin, 
                       role_id, 
                       device_token, 
                       system_user, 
                       'Insert', 
                       GETDATE(), 
                       GETUTCDATE(), 
                       dbo.func_get_nepali_date(DEFAULT)
                FROM Inserted;
     END;
GO
/****** Object:  Trigger [dbo].[TRG_UPDATE_tbl_user_detail]    Script Date: 8/8/2020 2:54:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_UPDATE_tbl_user_detail] ON [dbo].[tbl_user_detail]
FOR UPDATE
AS
     BEGIN
         INSERT INTO tbl_user_detail_audit
         (user_id, 
          user_name, 
          password, 
          full_name, 
          agent_id, 
          user_email, 
          user_mobile_no, 
          last_login_UTC_date, 
          last_login_local_date, 
          last_password_changed_UTC_date, 
          last_password_changed_local_date, 
          session, 
          forced_password_changed, 
          created_UTC_date, 
          created_local_date, 
          created_nepali_date, 
          created_by, 
          created_ip, 
          created_platform, 
          updated_by, 
          updated_UTC_date, 
          updated_local_date, 
          updated_nepali_date, 
          updated_ip, 
          allow_multiple_login, 
          is_currently_logged_in, 
          device_id, 
          STATUS, 
          usr_type_id, 
          usr_type, 
          is_login_enabled, 
          is_primary, 
          browser_info, 
          access_code, 
          user_qrimage, 
          pay_load, 
          m_pin, 
          role_id, 
          device_token, 
          trigger_log_user, 
          trigger_action, 
          trigger_action_local_Date, 
          trigger_action_UTC_Date, 
          trigger_action_nepali_date
         )
                SELECT user_id, 
                       user_name, 
                       password, 
                       full_name, 
                       agent_id, 
                       user_email, 
                       user_mobile_no, 
                       last_login_UTC_date, 
                       last_login_local_date, 
                       last_password_changed_UTC_date, 
                       last_password_changed_local_date, 
                       session, 
                       forced_password_changed, 
                       created_UTC_date, 
                       created_local_date, 
                       created_nepali_date, 
                       created_by, 
                       created_ip, 
                       created_platform, 
                       updated_by, 
                       updated_UTC_date, 
                       updated_local_date, 
                       updated_nepali_date, 
                       updated_ip, 
                       allow_multiple_login, 
                       is_currently_logged_in, 
                       device_id, 
                       STATUS, 
                       usr_type_id, 
                       usr_type, 
                       is_login_enabled, 
                       is_primary, 
                       browser_info, 
                       access_code, 
                       user_qrimage, 
                       pay_load, 
                       m_pin, 
                       role_id, 
                       device_token, 
                       system_user, 
                       'Update', 
                       GETDATE(), 
                       GETUTCDATE(), 
                       dbo.func_get_nepali_date(DEFAULT)
                FROM Inserted;
     END;
GO
