
@{
    ViewBag.Title = "ViewTransactionReport";
    Layout = "~/Areas/Client/Views/Shared/_Layout.cshtml";
}

<div class="container" listing-container>
    @Html.Raw(ViewData["grid"].ToString())

</div>

